.flex_box {
    display: flex;
    height: 100%;
    width: 50%;
    background-color: #fff3cd;
    margin-left: 20%;
    border: 3px solid lightcyan;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
}

#fname, #lname, #email, #password, #cpassword {
    height: 35px;
    width: 80%;
    border: 1px solid gray;
    margin-bottom: 20px;
}

#register-button {
    height: 40px;
    width: 80%;
    background-color: #0069d9;
    border: 1px solid darkblue;
    margin-bottom: 15px;
    margin-top: 15px;
}