.flex {
    flex-direction: column;

    border: 6px solid rgb(100, 50, 300);
}

.img {
    height: 5rem;
    width: 5rem;
    float: left;
    margin: 1rem;
    border-radius: 50px;
}

.flex1 {
    margin: 1rem;
    display: flex;
    border: 4px dotted rgb(200, 41, 100);
    flex-wrap: wrap;
    align-content: space-between;

}

.flex2 {
    display: flex;
    border: 3px solid rgb(200, 41, 100);
    flex-wrap: wrap;
    align-content: space-between;
    margin: 1rem;
    justify-content: flex-end;

}

.flex3 {
    display: flex;
    border: 4px dotted rgb(200, 41, 100);
    flex-wrap: wrap;
    align-content: space-between;
    margin: 1rem;


}

.flexitem1 {
    text-align: right;
}

.gim {
    height: 5rem;
    width: 5rem;
    float: right;
    display: inline-flex;
    top: 0%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 50px;
}

b {
    color: rgb(134, 173, 192);
}