* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman";
    text-decoration: none;
}

.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    font-size: 20px;
}

.navbar a {
    color: #f2f2f2;
    background: #b21f2d;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a:hover {
    background: #0b2e13;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    width: 100%;
    text-align: center;
    position: relative;
}

.navbar li:hover .subblock > li {
    display: block;
}

.subblock {
    position: absolute;
    flex-direction: column;
    width: 100%;
}

.subblock li {
    display: none;
    position: relative;
}

.subblock li:hover .subblock-2 li {
    display: block;
}

.subblock li:hover .subblock-3 li {
    display: block;
}

.subblock-2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 100%;
    width: 120px;
}

.subblock-3 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 100%;
    width: 120px;
}

.subblock-2 li {
    display: none;
}

.subblock-3 li {
    display: none;
}

.pointer {
    margin-left: 5px;
    margin-right: 5px;
    color: #eee;
    font-size: 10px;
}

