
.text {
    background-color: black;
    font-family: "Calibri";
    -webkit-text-fill-color: white;
}

.left {
    float: left;
    background-color: green;
    margin-right: 3px;
    width: 33%;
}

.center {
    float: left;
    background-color: gray;
    margin-right: 3px;
    width: 33%;
}

.right {
    float: left;
    background-color: green;
    width: 33%;
}

.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.div {
    display: block;
}