body {
    background-color: #d1ecf1;
    opacity: 50%;
}


.navbar {
    overflow: hidden;
    position: sticky;
    font-size: 20px;
    font-family: Candara;
    background: #6610f2;
    top: 0;
}

.navbar a {
    float: left;
    display: flex;
    color: whitesmoke;
    justify-content: center;
    padding: 15px 20px;
}

.navbar a.right {
    float: right;
}

.navbar a.active {
    background-color: darkred;
    color: #ececf6;
    font-family: "Yu Gothic Medium";
}


.col {
    color: white;
    background-color: blue;
}

.col:hover {
    color: white;
    background-color: red;

}


footer {
    margin-top: 5%;
    text-align: center;
    background-color: #ffdf7e;
    width: 100%;
}

.engfooter {
    overflow: hidden;
    position: absolute;
    font-size: medium;
    background: #80bdff;

}

.engfooter a {
    align-items: center;
    display: block;
    margin: 2px;
    bottom: 0;
}

.ssylki {
    align-content: center;
    display: block;

}