.hehe {;
}

.img1 {
    border-bottom: 5px;
    border-radius: 20px;
    width: 30%;
    height: 40%;
}

.rihanna {
    letter-spacing: -2px;
    word-spacing: 2px;

.h3 {
    color: #fff1b0;
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 3em;
    text-align: center;
    background-color: #757277;
    border: darkcyan dot-dot-dash;
    border-color: #343432;
    opacity: 0.7;
}

}

.back {
    background-image: https: / / www . almanac . com /sites/ default /files/ styles /primary_image_in_article/ public /image_nodes/ night-sky-space . jpg ? itok = iiOL-ZPf;
    background-repeat: no-repeat;
}


.img2 {
    border-right: 5px red dashed;
    border-top: 5px greenyellow dotted;
    border-left: 3px purple ridge;

    align-content: center;
    width: 25%;
    height: 25%;
}

.text1 {
    font-family: Harrington;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 2px;
    margin-inline-end: 2px;

}

.eminem {
    letter-spacing: 5px;
    word-spacing: 9px;
    font-family: Verdana;
}

.nf {
    align-content: center;
    text-align: center;
    height: 170px;
    width: 450px;
    padding: 1px;
    margin-block-start: 2px;
    margin-block-end: 2px;
    background-color: bisque;
    border: 1cm ridge brown;
}